<%- include templates/header %>
<p>1、打卡未完成扣1分，未请假扣2分</p>
<p>2、上课开会缺席扣1分，未请假扣2分；</p>
<p>3、作业迟交扣1分，未写扣2分；</p>
<p>4、打卡超额完成的，每1h加0.5分，向下取整；参加与计算机相关的比赛加1分，若获奖视获奖情</p>况加分；
<p>5、基础分10分，考核前达到0分则失去考核资格；</p>
‌<p>评分：学期末进行总评，以积分为主要依据，选出10人成立实践小组，评分越高，可获得更多参加实践项目机会；</p>
<p>‌请假：打卡请假在钉钉上申请，开会请假向组长说明情况</p>
</div>
<script type="text/javascript">
	$(function() {
		var lis = $('.contants');
		if($(lis).length> 5){
			$(lis).easyPage({
		    count: 5
		  });
		}
		if($('.contants').length != 0){
			$('.hint').hide();
		}
	 	for (var i = 0;i < $(lis).length; i ++) {
	 		console.log($(lis[i]).find('.floor').text());
	 		$(lis[i]).find('.floor span').text($(lis).length-i)
	 	}
	});
</script>

<%- include templates/footer %>
